prague-2018/flows/LocalLight.txt
[{"id":"67fbd539.5d99dc","type":"node-hue-out","z":"7b2f97cc.4b31e8","server":"80656103.0a179","lightID":"light24","name":"color lamp","x":140,"y":440,"wires":[["fc7dfb95.7fb1f8"]]},{"id":"ff4213e5.b8031","type":"node-hue-in","z":"7b2f97cc.4b31e8","server":"80656103.0a179","lightID":"light24","name":"color lamp","x":710,"y":320,"wires":[]},{"id":"fd7034a2.60c118","type":"debug","z":"7b2f97cc.4b31e8","name":"","active":false,"console":"false","complete":"false","x":550,"y":520,"wires":[]},{"id":"405c8e4a.ab709","type":"http in","z":"7b2f97cc.4b31e8","name":"GET light state","url":"/light","method":"get","upload":false,"swaggerDoc":"","x":160,"y":200,"wires":[["3eefe21a.5343ee"]]},{"id":"b4105999.6b37e8","type":"http response","z":"7b2f97cc.4b31e8","name":"OK","statusCode":"200","headers":{"content-type":"application/json"},"x":710,"y":200,"wires":[]},{"id":"fc7dfb95.7fb1f8","type":"function","z":"7b2f97cc.4b31e8","name":"save state","func":"context.flow.lightstate = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":440,"wires":[["2e3bc42.704e63c","fd7034a2.60c118","8e1129dd.f81228"]]},{"id":"3eefe21a.5343ee","type":"function","z":"7b2f97cc.4b31e8","name":"insert state","func":"msg.payload = context.flow.lightstate\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":200,"wires":[["b4105999.6b37e8"]]},{"id":"4bca2f8e.7379d","type":"http in","z":"7b2f97cc.4b31e8","name":"POST light state","url":"/light","method":"post","upload":false,"swaggerDoc":"","x":160,"y":260,"wires":[["a42cff52.1e9a2","ff4213e5.b8031","dfd8eefa.b1a71"]]},{"id":"a42cff52.1e9a2","type":"http response","z":"7b2f97cc.4b31e8","name":"OK","statusCode":"200","headers":{},"x":710,"y":260,"wires":[]},{"id":"2e3bc42.704e63c","type":"mqtt out","z":"7b2f97cc.4b31e8","name":"/plugfest/light/state","topic":"/plugfest/light/state","qos":"","retain":"","broker":"5e9b9d67.b3dfd4","x":670,"y":440,"wires":[]},{"id":"77c712a5.8e7bac","type":"mqtt in","z":"7b2f97cc.4b31e8","name":"/plugfest/light/command","topic":"/plugfest/light/command","qos":"0","broker":"5e9b9d67.b3dfd4","x":190,"y":320,"wires":[["7e8afac5.e2a404"]]},{"id":"6ce662c8.cbf62c","type":"debug","z":"7b2f97cc.4b31e8","name":"","active":false,"console":"false","complete":"false","x":590,"y":380,"wires":[]},{"id":"7e8afac5.e2a404","type":"json","z":"7b2f97cc.4b31e8","name":"","property":"payload","action":"","pretty":false,"x":410,"y":320,"wires":[["ff4213e5.b8031","6ce662c8.cbf62c"]]},{"id":"dfd8eefa.b1a71","type":"debug","z":"7b2f97cc.4b31e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":690,"y":140,"wires":[]},{"id":"887444ab.ccb638","type":"mqtt in","z":"7b2f97cc.4b31e8","name":"remote command","topic":"/plugfest/light/command","qos":"0","broker":"29d05109.9def3e","x":170,"y":380,"wires":[["7e8afac5.e2a404"]]},{"id":"8e1129dd.f81228","type":"mqtt out","z":"7b2f97cc.4b31e8","name":"remote state","topic":"/plugfest/light/state","qos":"","retain":"","broker":"29d05109.9def3e","x":714.5,"y":481,"wires":[]},{"id":"dfbb0583.8e0b98","type":"ui_switch","z":"7b2f97cc.4b31e8","name":"On/Off","label":"ON/Off","group":"c63b4e47.d6801","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"on\": true}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"on\": false}","offvalueType":"json","officon":"","offcolor":"","x":237,"y":536,"wires":[["ff4213e5.b8031"]]},{"id":"db440341.2657","type":"ui_slider","z":"7b2f97cc.4b31e8","name":"Brightness","label":"brightness","group":"c63b4e47.d6801","order":0,"width":0,"height":0,"passthru":true,"topic":"bri","min":"1","max":"254","step":1,"x":257,"y":594,"wires":[["ff4213e5.b8031"]]},{"id":"80656103.0a179","type":"node-hue-bridge","z":"","name":"Hue Bridge","address":"192.168.1.220","key":"b5q6DpQiIp6lAbc4TTv4PNd0w7pPJyrDfV0tBx9m","interval":"5000"},{"id":"5e9b9d67.b3dfd4","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"29d05109.9def3e","type":"mqtt-broker","z":null,"broker":"0m2m.net","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"c63b4e47.d6801","type":"ui_group","z":"","name":"Light Control","tab":"8a800b0f.ea00f8","disp":true,"width":"6"},{"id":"8a800b0f.ea00f8","type":"ui_tab","z":"","name":"Light Control","icon":"dashboard"}]
