prague-2018/flows/LocalPM25.txt
[{"id":"c8914a32.97e6e8","type":"ui_chart","z":"f1d1baa3.8cadd8","name":"chart","group":"1b2c21f6.c7016e","order":4,"width":"6","height":"3","label":"pcs/.01cf","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"8000","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":759.5,"y":295,"wires":[[],[]]},{"id":"1dc86a8e.428da5","type":"ui_gauge","z":"f1d1baa3.8cadd8","name":"gauge","group":"1b2c21f6.c7016e","order":1,"width":"3","height":"3","gtype":"gage","title":"5 MIN AVG","label":"pcs/.01cf","format":"{{value}}","min":0,"max":"8000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"2000","seg2":"5000","x":759.5,"y":245,"wires":[]},{"id":"32b982b2.ca935e","type":"smooth","z":"f1d1baa3.8cadd8","name":"5 min avg","action":"mean","count":"10","round":"0","mult":"single","x":598,"y":244,"wires":[["c8914a32.97e6e8","1dc86a8e.428da5"]]},{"id":"8aafb34f.4b425","type":"ui_gauge","z":"f1d1baa3.8cadd8","name":"gauge","group":"1b2c21f6.c7016e","order":2,"width":"3","height":"3","gtype":"gage","title":"1 HR AVG","label":"pcs/.01cf","format":"{{value}}","min":0,"max":"8000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"2000","seg2":"5000","x":759,"y":202,"wires":[]},{"id":"e4ee169e.b92b08","type":"smooth","z":"f1d1baa3.8cadd8","name":"1 hr avg","action":"mean","count":"120","round":"0","mult":"single","x":596,"y":203,"wires":[["8aafb34f.4b425"]]},{"id":"c220917.d499e7","type":"http in","z":"f1d1baa3.8cadd8","name":"/3300/0/","url":"/3300/0/","method":"get","upload":false,"swaggerDoc":"","x":100,"y":400,"wires":[["19272ea5.dbf801"]]},{"id":"24ce32b3.0f747e","type":"http response","z":"f1d1baa3.8cadd8","name":"return","statusCode":"200","headers":{"content-type":"application/senml+json","Profile":"urn:oma:lwm2m:ext"},"x":750,"y":400,"wires":[]},{"id":"e044e87a.f85538","type":"template","z":"f1d1baa3.8cadd8","name":"SenML/IPSO","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"[\n  {\n    \"bn\": \"/3300/0/\",\n    \"bt\": {{payload.ts}}\n  },\n  {\n    \"n\": \"5700\",\n    \"v\": {{payload.PM25}}\n  },\n  {\n    \"n\": \"5701\",\n    \"vs\": \"pcs/.01cf\"\n  },\n  {\n    \"n\": \"5750\",\n    \"vs\": \"PM2.5\"\n  }\n]","output":"str","x":590,"y":400,"wires":[["24ce32b3.0f747e"]]},{"id":"9b279122.efb7b","type":"ui_text","z":"f1d1baa3.8cadd8","group":"1b2c21f6.c7016e","order":3,"width":0,"height":0,"name":"timestamp","label":"Last Reading","format":"{{msg.payload}}","layout":"col-center","x":740,"y":154,"wires":[]},{"id":"97f3de8f.1be15","type":"function","z":"f1d1baa3.8cadd8","name":"Extract Time","func":"var msgfields = msg.payload.split(\" \");\ncontext.flow.timestamp=msgfields.slice(0,6).join(\" \");\nmsg.payload=context.flow.timestamp;\nreturn msg;","outputs":1,"noerr":0,"x":525,"y":154,"wires":[["9b279122.efb7b"]]},{"id":"aaf2be8c.ab9b2","type":"mqtt in","z":"f1d1baa3.8cadd8","name":"","topic":"/plugfest/sensors/PM2.5","qos":"0","broker":"5e9b9d67.b3dfd4","x":165.5,"y":153,"wires":[["97f3de8f.1be15","238e3a45.604706","1876cd5c.6d6ad3"]]},{"id":"238e3a45.604706","type":"debug","z":"f1d1baa3.8cadd8","name":"","active":false,"console":"false","complete":"false","x":183.5,"y":227,"wires":[]},{"id":"1876cd5c.6d6ad3","type":"function","z":"f1d1baa3.8cadd8","name":"Extract Value","func":"var sensorvalue = msg.payload.split(\" \")[8];\nvar sensortype = msg.payload.split(\" \")[7];\nvar sensorunits = msg.payload.split(\" \")[9];\nif (sensorvalue >= 8000) sensorvalue=7999.99;\nvar newmsg = {};\nnewmsg.payload = sensorvalue;\nnewmsg.sensortype = sensortype;\nnewmsg.sensorunits = sensorunits;\n\ncontext.flow.value = sensorvalue;\ncontext.flow.units = sensorunits;\ncontext.flow.type = sensortype;\n\nreturn newmsg;","outputs":1,"noerr":0,"x":390,"y":203,"wires":[["e4ee169e.b92b08","32b982b2.ca935e","af41887c.4ce658"]]},{"id":"19272ea5.dbf801","type":"function","z":"f1d1baa3.8cadd8","name":"insert values","func":"msg.payload.value=context.flow.value;\nmsg.payload.type=context.flow.type;\nmsg.payload.units=context.flow.units;\nmsg.payload.ts=Date.now();\nreturn msg;","outputs":1,"noerr":0,"x":347,"y":400,"wires":[["e044e87a.f85538"]]},{"id":"cd35cf1d.7cb3d","type":"mqtt out","z":"f1d1baa3.8cadd8","name":"subscriptions","topic":"/plugfest/subscriptions/PM2.5","qos":"","retain":"","broker":"29d05109.9def3e","x":740,"y":340,"wires":[]},{"id":"af41887c.4ce658","type":"function","z":"f1d1baa3.8cadd8","name":"insert values","func":"var newmsg = {};\nnewmsg.payload = {};\nnewmsg.payload.value=msg.payload;\nnewmsg.payload.ts=Date.now();\nreturn newmsg;","outputs":1,"noerr":0,"x":370,"y":340,"wires":[["19c737f2.637988"]]},{"id":"19c737f2.637988","type":"template","z":"f1d1baa3.8cadd8","name":"SenML/IPSO","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"[\n  {\n    \"bn\": \"/3300/0/\",\n    \"bt\": {{payload.ts}}\n  },\n  {\n    \"n\": \"5700\",\n    \"vb\": {{payload.value}}\n  },\n  {\n    \"n\": \"5701\",\n    \"vs\": \"pcs/.01cf\"\n  },\n  {\n    \"n\": \"5750\",\n    \"vs\": \"PM2.5\"\n  }\n]","output":"json","x":550,"y":340,"wires":[["cd35cf1d.7cb3d"]]},{"id":"1b2c21f6.c7016e","type":"ui_group","z":"","name":"PM2.5 Monitor","tab":"df1f8544.914758","disp":true,"width":"6"},{"id":"5e9b9d67.b3dfd4","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"29d05109.9def3e","type":"mqtt-broker","z":null,"broker":"0m2m.net","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"df1f8544.914758","type":"ui_tab","z":"","name":"PM2.5","icon":"dashboard"}]
