prague-2018/flows/RemoteMotion.txt
[{"id":"41a9f80a.1320c8","type":"mqtt in","z":"481e3906.3f9b18","name":"Motion","topic":"/plugfest/sensors/Motion","qos":"0","broker":"60b4e50f.b0e7ac","x":110,"y":140,"wires":[["45eefd6c.635f84","a5d3e2ca.8d203","f0f2e4d5.fccf78"]]},{"id":"45eefd6c.635f84","type":"debug","z":"481e3906.3f9b18","name":"","active":false,"console":"false","complete":"false","x":170,"y":220,"wires":[]},{"id":"a5d3e2ca.8d203","type":"function","z":"481e3906.3f9b18","name":"Extract Value","func":"var sensorvalue = msg.payload.split(\" \")[8];\nvar sensortype = msg.payload.split(\" \")[7];\nvar sensorunits = msg.payload.split(\" \")[9];\nif (sensorvalue == 1) sensorvalue = true;\nelse sensorvalue = false;\nvar newmsg = {};\nnewmsg.payload = sensorvalue;\nnewmsg.sensortype = sensortype;\nnewmsg.sensorunits = sensorunits;\n\ncontext.flow.value = sensorvalue;\ncontext.flow.units = sensorunits;\ncontext.flow.type = sensortype;\n\nreturn newmsg;","outputs":1,"noerr":0,"x":350,"y":200,"wires":[["9b1ac238.dc56","9352d9ef.2f6788"]]},{"id":"f0f2e4d5.fccf78","type":"function","z":"481e3906.3f9b18","name":"Extract Time","func":"var msgfields = msg.payload.split(\" \");\ncontext.flow.timestamp=msgfields.slice(0,6).join(\" \");\nmsg.payload=context.flow.timestamp;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":140,"wires":[[]]},{"id":"12e1fb71.3cace5","type":"http in","z":"481e3906.3f9b18","name":"/3300/2/","url":"/3300/2/","method":"get","upload":false,"swaggerDoc":"","x":120,"y":300,"wires":[["cdf67ce7.785be"]]},{"id":"cdf67ce7.785be","type":"function","z":"481e3906.3f9b18","name":"insert values","func":"msg.payload.value=context.flow.value;\nmsg.payload.type=context.flow.type;\nmsg.payload.units=context.flow.units;\nmsg.payload.ts=Date.now();\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":300,"wires":[["9f77733e.e5a1a","eaf9054e.261098"]]},{"id":"9f77733e.e5a1a","type":"template","z":"481e3906.3f9b18","name":"SenML/IPSO","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"[\n  {\n    \"bn\": \"/3300/2/\",\n    \"bt\": {{payload.ts}}\n  },\n  {\n    \"n\": \"5700\",\n    \"vb\": {{payload.value}}\n  },\n  {\n    \"n\": \"5701\",\n    \"vs\": \"Detected\"\n  },\n  {\n    \"n\": \"5750\",\n    \"vs\": \"Motion\"\n  }\n]","output":"str","x":530,"y":300,"wires":[["9d1dea5f.6607b8"]]},{"id":"9d1dea5f.6607b8","type":"http response","z":"481e3906.3f9b18","name":"return","statusCode":"200","headers":{"content-type":"application/senml+json","Profile":"urn:oma:lwm2m:ext"},"x":730,"y":300,"wires":[]},{"id":"9b1ac238.dc56","type":"ui_text","z":"481e3906.3f9b18","group":"29ebea10.fa1076","order":0,"width":0,"height":0,"name":"Motion Text","label":"Motion detected: ","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":140,"wires":[]},{"id":"45ec43cc.56f74c","type":"ui_chart","z":"481e3906.3f9b18","name":"Motion Chart","group":"29ebea10.fa1076","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":730,"y":100,"wires":[[],[]]},{"id":"9352d9ef.2f6788","type":"function","z":"481e3906.3f9b18","name":"0..1","func":"if (msg.payload === true) msg.payload = 1;\nelse msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":100,"wires":[["45ec43cc.56f74c"]]},{"id":"eaf9054e.261098","type":"debug","z":"481e3906.3f9b18","name":"","active":false,"console":"false","complete":"true","x":650,"y":400,"wires":[]},{"id":"60b4e50f.b0e7ac","type":"mqtt-broker","z":"","broker":"0m2m.net","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"29ebea10.fa1076","type":"ui_group","z":"","name":"Motion","tab":"aa05a24f.c3d5a","order":1,"disp":true,"width":"6"},{"id":"aa05a24f.c3d5a","type":"ui_tab","z":"","name":"Motion","icon":"dashboard","order":3}]
