flows/HostName-IP.txt
[{"id":"a5e2169f.00e4d8","type":"inject","z":"2a360f8b.8212e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"","x":170,"y":140,"wires":[["8a9f2e95.da054"]]},{"id":"b6c0600f.2ff94","type":"debug","z":"2a360f8b.8212e","name":"","active":false,"console":"false","complete":"payload","x":690,"y":200,"wires":[]},{"id":"a148898f.70f478","type":"function","z":"2a360f8b.8212e","name":"set hostname","func":"context.flow.hn = msg.payload.trim();\nmsg.payload = context.flow.hn;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":140,"wires":[[]]},{"id":"8a9f2e95.da054","type":"exec","z":"2a360f8b.8212e","command":"hostname","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":320,"y":140,"wires":[["56b79bcb.6ac874","a148898f.70f478"],[],[]]},{"id":"56b79bcb.6ac874","type":"exec","z":"2a360f8b.8212e","command":"hostname -I","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":310,"y":200,"wires":[["c820a2d6.f696a"],[],[]]},{"id":"c820a2d6.f696a","type":"function","z":"2a360f8b.8212e","name":"set IP","func":"context.flow.ip = msg.payload.trim();\nmsg.payload = context.flow.ip;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":200,"wires":[["11b621c3.2702de"]]},{"id":"11b621c3.2702de","type":"function","z":"2a360f8b.8212e","name":"make map","func":"msg.payload = {};\nmsg.payload.hn = context.flow.hn;\nmsg.payload.ip = context.flow.ip;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":260,"wires":[["b6c0600f.2ff94","bfb03095.2f446"]]},{"id":"bfb03095.2f446","type":"mqtt out","z":"2a360f8b.8212e","name":"hosts","topic":"/hosts","qos":"","retain":"","broker":"29d05109.9def3e","x":690,"y":260,"wires":[]},{"id":"29d05109.9def3e","type":"mqtt-broker","z":null,"broker":"0m2m.net","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
