flows/LocalMotionLightControl-2.txt
[{"id":"e0b67829.f75908","type":"http request","z":"857b15fe.81e5b8","name":"","method":"PUT","ret":"txt","url":"http://192.168.1.220:/api/z8Il6e1yNxDqLf0lJX2AGBumj3EeQEc9GXGg7Z40/lights/24/state","tls":"","x":630,"y":280,"wires":[["47eac2ac.9851ec"]]},{"id":"4b4aa853.4281b8","type":"function","z":"857b15fe.81e5b8","name":"on","func":"msg.payload = { on: true }\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":260,"wires":[["e0b67829.f75908"]]},{"id":"4c154dc0.ff3434","type":"function","z":"857b15fe.81e5b8","name":"off","func":"msg.payload = { on: false }\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":300,"wires":[["e0b67829.f75908"]]},{"id":"ee4295da.2156e8","type":"switch","z":"857b15fe.81e5b8","name":"","property":"payload[1][\"vb\"]","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":280,"wires":[["4b4aa853.4281b8"],["4c154dc0.ff3434"]]},{"id":"47eac2ac.9851ec","type":"debug","z":"857b15fe.81e5b8","name":"","active":false,"console":"false","complete":"false","x":712.5,"y":333,"wires":[]},{"id":"ec8d24b0.446d88","type":"inject","z":"857b15fe.81e5b8","name":"on","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":190,"y":340,"wires":[["4b4aa853.4281b8"]]},{"id":"e0fcb459.bdfa08","type":"inject","z":"857b15fe.81e5b8","name":"off","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":190,"y":380,"wires":[["4c154dc0.ff3434"]]},{"id":"cb83905b.8996","type":"mqtt in","z":"857b15fe.81e5b8","name":"","topic":"/plugfest/subscriptions/Motion","qos":"0","broker":"5e9b9d67.b3dfd4","x":170,"y":160,"wires":[["9075fa.c062da08"]]},{"id":"fd606dd4.ed459","type":"debug","z":"857b15fe.81e5b8","name":"","active":false,"tosidebar":true,"console":false,"complete":"payload","x":570,"y":160,"wires":[]},{"id":"9075fa.c062da08","type":"json","z":"857b15fe.81e5b8","name":"","property":"payload","action":"","pretty":false,"x":390,"y":160,"wires":[["fd606dd4.ed459","ee4295da.2156e8"]]},{"id":"5e9b9d67.b3dfd4","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
