flows/LocalMotion.txt
[{"id":"a91f18ba.e82098","type":"mqtt in","z":"ce71edae.4abf4","name":"Motion","topic":"/plugfest/sensors/Motion","qos":"0","broker":"5e9b9d67.b3dfd4","x":110,"y":120,"wires":[["2e66b97a.1c3866","335fb55b.a8b5ea","201e2dae.cafc02"]]},{"id":"2e66b97a.1c3866","type":"debug","z":"ce71edae.4abf4","name":"","active":false,"console":"false","complete":"false","x":170,"y":200,"wires":[]},{"id":"335fb55b.a8b5ea","type":"function","z":"ce71edae.4abf4","name":"Extract Value","func":"var sensorvalue = msg.payload.split(\" \")[8];\nvar sensortype = msg.payload.split(\" \")[7];\nvar sensorunits = msg.payload.split(\" \")[9];\nif (sensorvalue == 1) sensorvalue = true;\nelse sensorvalue = false;\nvar newmsg = {};\nnewmsg.payload = sensorvalue;\nnewmsg.sensortype = sensortype;\nnewmsg.sensorunits = sensorunits;\n\ncontext.flow.value = sensorvalue;\ncontext.flow.units = sensorunits;\ncontext.flow.type = sensortype;\n\nreturn newmsg;","outputs":1,"noerr":0,"x":350,"y":180,"wires":[["d1b62129.aa6c5","8629c43d.79b3d8","9dadf8e7.c9f3e8"]]},{"id":"201e2dae.cafc02","type":"function","z":"ce71edae.4abf4","name":"Extract Time","func":"var msgfields = msg.payload.split(\" \");\ncontext.flow.timestamp=msgfields.slice(0,6).join(\" \");\nmsg.payload=context.flow.timestamp;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":120,"wires":[[]]},{"id":"b92f7be7.748418","type":"http in","z":"ce71edae.4abf4","name":"/3300/1/","url":"/3300/1/","method":"get","upload":false,"swaggerDoc":"","x":120,"y":360,"wires":[["a91779e1.91ea68"]]},{"id":"a91779e1.91ea68","type":"function","z":"ce71edae.4abf4","name":"insert values","func":"msg.payload.value=context.flow.value;\nmsg.payload.type=context.flow.type;\nmsg.payload.units=context.flow.units;\nmsg.payload.ts=Date.now();\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":360,"wires":[["fb46660b.5760d8"]]},{"id":"fb46660b.5760d8","type":"template","z":"ce71edae.4abf4","name":"SenML/IPSO","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"[\n  {\n    \"bn\": \"/3300/1/\",\n    \"bt\": {{payload.ts}}\n  },\n  {\n    \"n\": \"5700\",\n    \"vb\": {{payload.value}}\n  },\n  {\n    \"n\": \"5701\",\n    \"vs\": \"Detected\"\n  },\n  {\n    \"n\": \"5750\",\n    \"vs\": \"Motion\"\n  }\n]","output":"str","x":530,"y":360,"wires":[["cad7eaec.a6e5e8"]]},{"id":"cad7eaec.a6e5e8","type":"http response","z":"ce71edae.4abf4","name":"return","statusCode":"200","headers":{"content-type":"application/senml+json","Profile":"urn:oma:lwm2m:ext"},"x":730,"y":360,"wires":[]},{"id":"1282b878.60e708","type":"debug","z":"ce71edae.4abf4","name":"","active":false,"console":"false","complete":"false","x":595.5,"y":180,"wires":[]},{"id":"d1b62129.aa6c5","type":"function","z":"ce71edae.4abf4","name":"insert values","func":"var newmsg = {};\nnewmsg.payload = {};\nnewmsg.payload.value=msg.payload;\nnewmsg.payload.ts=Date.now();\nreturn newmsg;","outputs":1,"noerr":0,"x":350,"y":240,"wires":[["6373b4c3.54449c"]]},{"id":"6373b4c3.54449c","type":"template","z":"ce71edae.4abf4","name":"SenML/IPSO","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"[\n  {\n    \"bn\": \"/3300/2/\",\n    \"bt\": {{payload.ts}}\n  },\n  {\n    \"n\": \"5700\",\n    \"vb\": {{payload.value}}\n  },\n  {\n    \"n\": \"5701\",\n    \"vs\": \"Detected\"\n  },\n  {\n    \"n\": \"5750\",\n    \"vs\": \"Motion\"\n  }\n]","output":"str","x":530,"y":240,"wires":[["7c2f497.a2b7ab8","1282b878.60e708","41c29e2a.4d17a"]]},{"id":"7c2f497.a2b7ab8","type":"mqtt out","z":"ce71edae.4abf4","name":"subscriptions","topic":"/plugfest/subscriptions/Motion","qos":"","retain":"","broker":"29d05109.9def3e","x":720,"y":240,"wires":[]},{"id":"8629c43d.79b3d8","type":"ui_text","z":"ce71edae.4abf4","group":"2b831de5.7c0592","order":0,"width":0,"height":0,"name":"Motion Text","label":"Motion detected: ","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":120,"wires":[]},{"id":"74007e1c.caf75","type":"ui_chart","z":"ce71edae.4abf4","name":"Motion Chart","group":"2b831de5.7c0592","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":730,"y":80,"wires":[[],[]]},{"id":"9dadf8e7.c9f3e8","type":"function","z":"ce71edae.4abf4","name":"0..1","func":"if (msg.payload === true) msg.payload = 1;\nelse msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":80,"wires":[["74007e1c.caf75"]]},{"id":"41c29e2a.4d17a","type":"mqtt out","z":"ce71edae.4abf4","name":"local subs","topic":"/plugfest/subscriptions/Motion","qos":"","retain":"","broker":"5e9b9d67.b3dfd4","x":729.5,"y":301,"wires":[]},{"id":"5e9b9d67.b3dfd4","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"29d05109.9def3e","type":"mqtt-broker","z":null,"broker":"0m2m.net","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"2b831de5.7c0592","type":"ui_group","z":"","name":"Motion","tab":"362edbdd.d32f94","order":1,"disp":true,"width":"6"},{"id":"362edbdd.d32f94","type":"ui_tab","z":"","name":"Motion","icon":"dashboard","order":3}]
