flows/PM25-RestEndpoint.txt
[{"id":"efc99323.d081","type":"mqtt in","z":"6bd665d5.24392c","name":"/plugfest/subscriptions/PM2.5","topic":"/plugfest/subscriptions/PM2.5","qos":"0","broker":"60b4e50f.b0e7ac","x":220,"y":260,"wires":[["937c8220.7a3c3","1a341b47.169a05"]]},{"id":"937c8220.7a3c3","type":"debug","z":"6bd665d5.24392c","name":"","active":false,"console":"false","complete":"false","x":530,"y":260,"wires":[]},{"id":"58633f5d.3e505","type":"http in","z":"6bd665d5.24392c","name":"GET /3300/3","url":"/3300/3","method":"get","upload":false,"swaggerDoc":"","x":170,"y":360,"wires":[["a8522968.3b8198"]]},{"id":"4ddc8d91.ac28e4","type":"http response","z":"6bd665d5.24392c","name":"OK","statusCode":"200","headers":{"content-type":"application/json"},"x":730,"y":360,"wires":[]},{"id":"a8522968.3b8198","type":"function","z":"6bd665d5.24392c","name":"insert state","func":"msg.payload = context.flow.pm25\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":360,"wires":[["4ddc8d91.ac28e4"]]},{"id":"1a341b47.169a05","type":"function","z":"6bd665d5.24392c","name":"save state","func":"context.flow.pm25 = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":320,"wires":[[]]},{"id":"60b4e50f.b0e7ac","type":"mqtt-broker","z":"","broker":"0m2m.net","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
