flows/RegisterTD.txt
[{"id":"be2e3617.ce7048","type":"inject","z":"12a45eb1.613b51","name":"Register","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":120,"y":120,"wires":[["f74f38b9.b98b78"]]},{"id":"b3ca01c4.ff723","type":"http request","z":"12a45eb1.613b51","name":"POST TD to Directory","method":"POST","ret":"txt","url":"http://plugfest.thingweb.io:8081/td?lt=600","tls":"","x":600,"y":120,"wires":[["b3464f8a.a3123","f58b23b9.6f8e8"]]},{"id":"f74f38b9.b98b78","type":"file in","z":"12a45eb1.613b51","name":"","filename":"/home/mjk/TD/td-motion.json","format":"utf8","chunk":false,"sendError":false,"x":330,"y":120,"wires":[["b3ca01c4.ff723","74cf956d.a53efc"]]},{"id":"b3464f8a.a3123","type":"debug","z":"12a45eb1.613b51","name":"","active":true,"console":"false","complete":"true","x":790,"y":120,"wires":[]},{"id":"f58b23b9.6f8e8","type":"function","z":"12a45eb1.613b51","name":"Location Start","func":"context.flow.keepalive=true;\ncontext.flow.tdlocation=\"http://plugfest.thingweb.io:8081/td/\" + msg.headers.location;\nmsg = {};\nmsg.url=context.flow.tdlocation + \"?lt=600\";\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":180,"wires":[["f8238e4c.9b302"]]},{"id":"f8238e4c.9b302","type":"delay","z":"12a45eb1.613b51","name":"TD refresh delay","pauseType":"delay","timeout":"300","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":180,"wires":[["857a28c6.7a2978"]]},{"id":"b64fb38d.db5a8","type":"http request","z":"12a45eb1.613b51","name":"Refresh TD","method":"PUT","ret":"txt","url":"","tls":"","x":630,"y":180,"wires":[["3639ab5c.be75c4","ff68f81e.f56df8"]]},{"id":"ff68f81e.f56df8","type":"debug","z":"12a45eb1.613b51","name":"","active":true,"console":"false","complete":"true","x":790,"y":180,"wires":[]},{"id":"3639ab5c.be75c4","type":"function","z":"12a45eb1.613b51","name":"Check Loop","func":"if(true === context.flow.keepalive){\n  msg = {};\n  msg.url=context.flow.tdlocation + \"?lt=600\";\n  return msg;\n}","outputs":1,"noerr":0,"x":130,"y":240,"wires":[["f8238e4c.9b302"]]},{"id":"b1c90271.46d4e","type":"inject","z":"12a45eb1.613b51","name":"Unregister","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":300,"wires":[["c23803d9.42762"]]},{"id":"c23803d9.42762","type":"function","z":"12a45eb1.613b51","name":"Unregister","func":"msg = {};\ncontext.flow.keepalive=false;\nmsg.url=context.flow.tdlocation;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":300,"wires":[["fa9455ff.e3b368"]]},{"id":"fa9455ff.e3b368","type":"http request","z":"12a45eb1.613b51","name":"Delete TD","method":"DELETE","ret":"txt","url":"","tls":"","x":520,"y":300,"wires":[["8d693092.accc9"]]},{"id":"8d693092.accc9","type":"debug","z":"12a45eb1.613b51","name":"","active":true,"console":"false","complete":"true","x":730,"y":300,"wires":[]},{"id":"857a28c6.7a2978","type":"function","z":"12a45eb1.613b51","name":"Check","func":"if(true === context.flow.keepalive){\n  return msg;\n}","outputs":1,"noerr":0,"x":490,"y":180,"wires":[["b64fb38d.db5a8"]]},{"id":"74cf956d.a53efc","type":"debug","z":"12a45eb1.613b51","name":"","active":true,"console":"false","complete":"true","x":790,"y":60,"wires":[]}]
