flows/RemotePM25.txt
[{"id":"95966043.b55df","type":"file","z":"c9ab50fa.a50b2","name":"log","filename":"/home/mjk/sensorlog/PM1.0","appendNewline":false,"createDir":true,"overwriteFile":"false","x":230,"y":180,"wires":[]},{"id":"1e97d1ed.fd558e","type":"ui_chart","z":"c9ab50fa.a50b2","name":"chart","group":"e01080af.805fa","order":4,"width":"6","height":"3","label":"pcs/.01cf","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"8000","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":770,"y":260,"wires":[[],[]]},{"id":"8d89c7fd.e78008","type":"ui_gauge","z":"c9ab50fa.a50b2","name":"gauge","group":"e01080af.805fa","order":1,"width":"3","height":"3","gtype":"gage","title":"5 MIN AVG","label":"pcs/.01cf","format":"{{value}}","min":0,"max":"8000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"2000","seg2":"5000","x":770,"y":220,"wires":[]},{"id":"8212dbe5.ef0ef8","type":"function","z":"c9ab50fa.a50b2","name":"Extract Value","func":"var sensorvalue = msg.payload.split(\" \")[8];\nvar sensortype = msg.payload.split(\" \")[7];\nvar sensorunits = msg.payload.split(\" \")[9];\nif (sensorvalue >= 8000) sensorvalue=7999.99;\nvar newmsg = {};\nnewmsg.payload = sensorvalue;\nnewmsg.sensortype = sensortype;\nnewmsg.sensorunits = sensorunits;\n\ncontext.flow.value = sensorvalue;\ncontext.flow.units = sensorunits;\ncontext.flow.type = sensortype;\n\nreturn newmsg;","outputs":1,"noerr":0,"x":430,"y":180,"wires":[["ae59b942.32a538","f79880c9.61213"]]},{"id":"ae59b942.32a538","type":"smooth","z":"c9ab50fa.a50b2","name":"5 min avg","action":"mean","count":"10","round":"0","mult":"single","x":620,"y":220,"wires":[["1e97d1ed.fd558e","8d89c7fd.e78008"]]},{"id":"23e29a46.253b86","type":"debug","z":"c9ab50fa.a50b2","name":"","active":false,"console":"false","complete":"false","x":250,"y":220,"wires":[]},{"id":"49185396.c0e5cc","type":"http in","z":"c9ab50fa.a50b2","name":"/3300/0/","url":"/3300/0/","method":"get","upload":false,"swaggerDoc":"","x":120,"y":320,"wires":[["947ec893.e84768"]]},{"id":"d762af67.623f3","type":"http response","z":"c9ab50fa.a50b2","name":"return","statusCode":"200","headers":{"content-type":"application/senml+json","Profile":"urn:oma:lwm2m:ext"},"x":770,"y":320,"wires":[]},{"id":"2c895144.e3353e","type":"ui_gauge","z":"c9ab50fa.a50b2","name":"gauge","group":"e01080af.805fa","order":2,"width":"3","height":"3","gtype":"gage","title":"1 HR AVG","label":"pcs/.01cf","format":"{{value}}","min":0,"max":"8000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"2000","seg2":"5000","x":770,"y":180,"wires":[]},{"id":"f79880c9.61213","type":"smooth","z":"c9ab50fa.a50b2","name":"1 hr avg","action":"mean","count":"120","round":"0","mult":"single","x":620,"y":180,"wires":[["2c895144.e3353e"]]},{"id":"585b230a.6b087c","type":"mqtt in","z":"c9ab50fa.a50b2","name":"mqtt://0m2m.net/test/PM2.5","topic":"/test/PM2.5","qos":"0","broker":"60b4e50f.b0e7ac","x":180,"y":120,"wires":[["8212dbe5.ef0ef8","95966043.b55df","23e29a46.253b86","c4a6759.0cf6488"]]},{"id":"d72fbce2.ae40e","type":"ui_text","z":"c9ab50fa.a50b2","group":"e01080af.805fa","order":3,"width":0,"height":0,"name":"timestamp","label":"Last Reading","format":"{{msg.payload}}","layout":"col-center","x":750,"y":120,"wires":[]},{"id":"c4a6759.0cf6488","type":"function","z":"c9ab50fa.a50b2","name":"Extract Time","func":"var msgfields = msg.payload.split(\" \");\ncontext.flow.timestamp=msgfields.slice(0,6).join(\" \");\nmsg.payload=context.flow.timestamp;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":120,"wires":[["d72fbce2.ae40e"]]},{"id":"eb56d28a.9251","type":"template","z":"c9ab50fa.a50b2","name":"SenML/IPSO","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n[\n  {\n    \"bn\": \"/3300/0/\",\n    \"bt\": {{payload.ts}}\n  },\n  {\n    \"n\": \"5700\",\n    \"v\": {{payload.value}}\n  },\n  {\n    \"n\": \"5701\",\n    \"vs\": \"pcs/.01cf\"\n  },\n  {\n    \"n\": \"5750\",\n    \"vs\": \"PM2.5\"\n  }\n]","output":"str","x":610,"y":320,"wires":[["d762af67.623f3"]]},{"id":"947ec893.e84768","type":"function","z":"c9ab50fa.a50b2","name":"insert values","func":"msg.payload.value=context.flow.value;\nmsg.payload.type=context.flow.type;\nmsg.payload.units=context.flow.units;\nmsg.payload.ts=Date.now();\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":320,"wires":[["eb56d28a.9251"]]},{"id":"e01080af.805fa","type":"ui_group","z":"","name":"PM2.5 Monitor","tab":"598403ac.b6b62c","disp":true,"width":"6"},{"id":"60b4e50f.b0e7ac","type":"mqtt-broker","z":"","broker":"0m2m.net","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"598403ac.b6b62c","type":"ui_tab","z":"","name":"PM2.5","icon":"dashboard"}]
