flows/RemoteLightControl.txt
[{"id":"4349c073.6de38","type":"debug","z":"7bb25a34.83bbf4","name":"","active":false,"console":"false","complete":"false","x":430,"y":100,"wires":[]},{"id":"cae91916.1b8128","type":"http in","z":"7bb25a34.83bbf4","name":"GET light state","url":"/light","method":"get","upload":false,"swaggerDoc":"","x":160,"y":220,"wires":[["ed164a9c.40eb38"]]},{"id":"c6840682.b38938","type":"http response","z":"7bb25a34.83bbf4","name":"OK","statusCode":"200","headers":{"content-type":"application/json"},"x":710,"y":220,"wires":[]},{"id":"1f5adce.ce10a23","type":"function","z":"7bb25a34.83bbf4","name":"save state","func":"context.flow.lightstate = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":160,"wires":[[]]},{"id":"ed164a9c.40eb38","type":"function","z":"7bb25a34.83bbf4","name":"insert state","func":"msg.payload = context.flow.lightstate\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":220,"wires":[["c6840682.b38938"]]},{"id":"dec4705f.fb203","type":"http in","z":"7bb25a34.83bbf4","name":"POST light state","url":"/light","method":"post","upload":false,"swaggerDoc":"","x":160,"y":280,"wires":[["e51a3e25.2c9d3","fc30f82a.acd028","79391858.e43638"]]},{"id":"e51a3e25.2c9d3","type":"http response","z":"7bb25a34.83bbf4","name":"OK","statusCode":"200","headers":{},"x":710,"y":280,"wires":[]},{"id":"fc30f82a.acd028","type":"mqtt out","z":"7bb25a34.83bbf4","name":"/plugfest/light/command","topic":"/plugfest/light/command","qos":"","retain":"","broker":"60b4e50f.b0e7ac","x":660,"y":340,"wires":[]},{"id":"38bed7bd.4152b8","type":"mqtt in","z":"7bb25a34.83bbf4","name":"/plugfest/light/state","topic":"/plugfest/light/state","qos":"0","broker":"60b4e50f.b0e7ac","x":170,"y":160,"wires":[["1f5adce.ce10a23","4349c073.6de38"]]},{"id":"79391858.e43638","type":"debug","z":"7bb25a34.83bbf4","name":"","active":false,"console":"false","complete":"false","x":300,"y":340,"wires":[]},{"id":"d05c182e.9d4f18","type":"ui_switch","z":"7bb25a34.83bbf4","name":"on/off","label":"On/Off","group":"c9712853.1e80f8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"on\":true}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"on\":false}","offvalueType":"json","officon":"","offcolor":"","x":290,"y":400,"wires":[["fc30f82a.acd028"]]},{"id":"bdf8478f.687048","type":"ui_slider","z":"7bb25a34.83bbf4","name":"Brightness","label":"Brightness","group":"c9712853.1e80f8","order":0,"width":0,"height":0,"passthru":true,"topic":"bri","min":0,"max":"254","step":1,"x":310,"y":460,"wires":[["1ba17d68.594f03"]]},{"id":"1ba17d68.594f03","type":"template","z":"7bb25a34.83bbf4","name":"brightness","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"bri\": {{payload}} }","output":"str","x":470,"y":460,"wires":[["fc30f82a.acd028"]]},{"id":"305d5e21.358a72","type":"ui_colour_picker","z":"7bb25a34.83bbf4","name":"","label":"Color","group":"c9712853.1e80f8","format":"rgb","outformat":"object","showSwatch":true,"showPicker":true,"showValue":true,"showAlpha":false,"showLightness":true,"order":0,"width":"6","height":"4","passthru":true,"topic":"hsv","x":290,"y":520,"wires":[["4f9ca63f.2684d8"]]},{"id":"f6dbe805.e8af78","type":"debug","z":"7bb25a34.83bbf4","name":"","active":false,"console":"false","complete":"false","x":630,"y":560,"wires":[]},{"id":"4f9ca63f.2684d8","type":"function","z":"7bb25a34.83bbf4","name":"rgb array","func":"var rgb = [];\nrgb.push (msg.payload.r);\nrgb.push (msg.payload.g);\nrgb.push (msg.payload.b);\nmsg.payload = {};\nmsg.payload.rgb=rgb;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":520,"wires":[["fc30f82a.acd028","f6dbe805.e8af78"]]},{"id":"60b4e50f.b0e7ac","type":"mqtt-broker","z":"","broker":"0m2m.net","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"c9712853.1e80f8","type":"ui_group","z":"","name":"Light","tab":"da0e6d8c.ad214","disp":true,"width":"6"},{"id":"da0e6d8c.ad214","type":"ui_tab","z":"","name":"Light Control","icon":"dashboard"}]
