flows/SerialDevice.txt
[{"id":"3e4c4af5.9c9586","type":"serial in","z":"bd502809.c5f608","name":"Env Sensor","serial":"14304af7.a00505","x":110,"y":140,"wires":[["f6358e2e.305a","de5c7ee3.29686"]]},{"id":"abdb5e7d.70bb7","type":"file","z":"bd502809.c5f608","name":"log","filename":"/home/mjk/sensorlog/multisensor","appendNewline":false,"createDir":true,"overwriteFile":"false","x":304,"y":191,"wires":[]},{"id":"f6358e2e.305a","type":"function","z":"bd502809.c5f608","name":"TimeStamp","func":"msg.payload = new Date().toUTCString() + ' : ' + msg.payload;\nreturn msg\n","outputs":1,"noerr":0,"x":290,"y":140,"wires":[["abdb5e7d.70bb7","49a8807b.1f622"]]},{"id":"de5c7ee3.29686","type":"debug","z":"bd502809.c5f608","name":"","active":false,"console":"false","complete":"false","x":263,"y":239,"wires":[]},{"id":"63056af4.e108b4","type":"mqtt out","z":"bd502809.c5f608","name":"0m2m.net","topic":"","qos":"","retain":"","broker":"29d05109.9def3e","x":665.5,"y":142,"wires":[]},{"id":"49a8807b.1f622","type":"function","z":"bd502809.c5f608","name":"Topic","func":"msg.topic=\"/plugfest/sensors/\" + msg.payload.split(\" \")[7];\nreturn msg;","outputs":1,"noerr":0,"x":476.5,"y":141,"wires":[["63056af4.e108b4","6646e500.3ce3cc","fc90a3ba.7d7da"]]},{"id":"6646e500.3ce3cc","type":"mqtt out","z":"bd502809.c5f608","name":"local broker","topic":"","qos":"","retain":"","broker":"5e9b9d67.b3dfd4","x":679.5,"y":94,"wires":[]},{"id":"fc90a3ba.7d7da","type":"debug","z":"bd502809.c5f608","name":"","active":false,"console":"false","complete":"topic","x":693.5,"y":214,"wires":[]},{"id":"14304af7.a00505","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"29d05109.9def3e","type":"mqtt-broker","z":null,"broker":"0m2m.net","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"5e9b9d67.b3dfd4","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
